.participants-list {
    width: 100%;
    /* max-width: 80%; */
    margin: auto;
}
  
.participants-list h2 {
    border-bottom: 3px solid #ccc;
    padding-bottom: 1rem;
}
  
.participants-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.participants-list ul{
    margin: 0;
    padding: 0;
}
.participants-list p{
    text-align: center;
}
  