.invitation{
    margin: 0;
    padding: 0;
    width: 100%;
}
.sc-kpOJdX > div:first-of-type {
    display: inline-block;
    margin-right: 16px;
}
input.dp__input {
    border: none;
    border-bottom: 2px solid rgba(32, 28, 28, 0.74);
    text-align: center;
    font-size: 17px;
}
.invitation form .input{
    width: 50%;
    display: inline-block;
}

.invitation > form > div:nth-of-type(4) {
    display: block;
    width: 100%;
}
.participants .input {
    width: 100%;
}




