.meeting-date div.sc-kpOJdX {
    display: inline-block;
    margin-right: 16px;
    padding: 10px;
}
.meeting-date label{
    padding: 10px;
}
input.dp__input {
    border: none;
    border-bottom: 2px solid rgba(32, 28, 28, 0.74);
    text-align: center;
    font-size: 17px;
}
.search-participants .input {
    display: inline-block;
    width: 70%;
}