.invitation{
    margin: 0;
    padding: 0;
    width: 100%;
}
.sc-kpOJdX > div:first-of-type {
    display: inline-block;
    margin-right: 16px;
}
input.dp__input {
    border: none;
    border-bottom: 2px solid rgba(32, 28, 28, 0.74);
    text-align: center;
    font-size: 17px;
}
.search-participants .input {
    display: inline-block;
    width: 75%;
}
.search-participants input {
    line-height: 32px;
    border-radius: 0px 3px 3px 0px!important;
}
.search-participants .btn {
    display: inline-block;
    width: 25%;
    margin: 0px!important;
    border-radius: 3px 0px 0px 3px!important;

}