.btn {
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    font: inherit;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    line-height: normal;
}
.success {
   background: #388e3c;
}
.cancel {
   background: #de2f2f;
}
.form {
   background: #8e24aa
}
.mode{
   background: #e9893a;
}