.btn {
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    font: inherit;
    color: #ffffff;
    margin: 10px;
    padding: 10px ;
}
.success {
   background: #388e3c;
}
.danger {
   background: #de2f2f;
}
.form {
   background: #8e24aa
}