
.login .input{
    display: inline-block;
    width: 60%;
    direction: ltr;
    line-height: 32px;
    margin: 0;
}
.login button{
    line-height: normal;
    display: inline-block;
    margin: 0;
}