/* .participants-form > inputs > div:nth-child(3){
    width: 45%;
}
.participants-form > inputs > div:nth-child(4){
    width: 45%;
} */
.participants-form button {
    width: 10%;
    margin: 0;
    line-height: 69px;
    display: inline-block
}
.inputs{
    margin: 0;
    padding: 0%;
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}
.inputs .input{
    width: 50%;
}
.participant-item {
    margin: 0.8rem 0;
    padding: 0.5rem 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.participant-item .btn{
    margin: 1px;
    padding:5px
}
.participant-item span{
    line-height: 35px;
}