.meetings-list {
    width: 100%;
    /* max-width: 80%; */
    margin: auto;
}
  
.meetings-list h2 {
    border-bottom: 3px solid #ccc;
    padding-bottom: 1rem;
}
  
.meetings-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.meeting-item {
    margin: 0.5rem 0;
    padding: 0.5rem 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}
.meeting-item .btn{
    margin: 1px;
    padding:5px;
    width: 10%;
}
.meeting-item span{
    line-height: 32px;
}
.meeting-item p{
    line-height: 32px;
    margin: 0;
}
.meeting-item div{
    text-align: center;
}
.meeting-item .date-time{
    width: 25%;
}
.meeting-item .room{
    width: 15%;
}
.meeting-item .subject{
    width: 35%;
}
.meeting-item .participants{
    width: 25%;
}
  